<div>
 
    
    <form [formGroup]="myform" (ngSubmit)="demo()" >
        
        <Label>Name</Label>
        <input type="text" name="nm" formControlName="nm" class="form-control mb-2">
        <Label>Date of Birth</Label>
        <input type="date" name="dob" formControlName="dob" class="form-control mb-2">
        <label >Gender</label>
        Male<input type="radio" name="gender" value="Male" formControlName="gender">
        Female<input type="radio" name="gender" value="Female" formControlName="gender">
        <select name="hobby" class="form-control mt-2" formControlName="hobby" >
            <option selected disabled>--Please Select Hobby--</option>
            <option value="reading">Reading</option>
            <option value="taravelling">Taravelling</option>
            <option value="swmming">swmming</option>
        </select>

        
       Any Query<textarea name="que"  cols="20" rows="5" class="mt-2 form-control" formControlName="que">
        </textarea>

        <label >Email</label>
        <input type="email" name="em" class="form-control" formControlName="em">
        <label >Password</label>
        <input type="password" name="pwd" class="form-control" formControlName="pwd" >

        <div class="text-center">
            <button type="submit" class="btn btn-primary mt-3" [disabled]="myform.invalid">Register</button>
        </div>
    </form>
</div>
